.Card {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  max-width: 400px;
  border-radius: 20px;
  margin: 40px 40px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  max-height: 150px;
}

.Card h1 {
  color: white;
  border-width: 5px;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}

.Card p {
  color: white;
  font-size: 20px;
  text-align: left;
  margin: auto;
}
